// GetBitArray{{columnName}} for given v string see if there is
// a bitarray created.
func GetBitArray{{columnName}}(v string) (bitarray.BitArray, error) {

	bpi, ok := {{columnName}}IdxMap[v]

	if !ok {
		return nil, errors.New("no bitarray filter found for column value {{columnName}}")
	}

	ba, ok := {{columnName}}Items[bpi]

	if !ok {
		return nil, errors.New("no bitarray filter found for column idx value {{columnName}}")
	}

	return ba, nil
}

